.main-chat
  .chat-header
    .chat-header--left
      .chat-header--left__title #{@group.name}
      .chat-header--left__users
        Member : 
        - @group.users.each do |user|
          %span.chat-header__user #{user.name}
    .chat-header--right
      = link_to edit_group_path(current_user) do
        .main-header__edit-btn Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'